name: Test

on:
  push:
    branches: ["nodetests"]

  pull_request:
    branches:
      - main

jobs:
  test-py:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Setup Python and Run Tests
        working-directory: ./src/python
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip install pytest maturin patchelf

          cd tests/data/
          7z x test_data.zip
          cd ../..

          maturin develop --release
          pytest
  test-js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js and Build
        uses: actions/setup-node@v2
        with:
          node-version: "18" # Replace with the desired Node.js version
      - name: Build
        working-directory: ./src/node
        run: |
          yarn global add @napi-rs/cli
          yarn build
      - name: Unzip Test Data
        working-directory: ./src/node
        run: |
          cd tests/
          unzip data.zip -d data/
          cd ../..

      - name: unzip demo from py dir
        working-directory: ./src/python
        run: |
          cd tests/data/
          7z x test_data.zip
          cd ../..

      - name: Test
        working-directory: ./src/node
        run: |
          npm install --save-dev jest
          npm test
